<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="/js/script.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img src="/img/profile.png" class="portrait">
      <p>This website was created by Nikhil Ratta while learning learn nodeJS.
      I am a BTech student studying Electronics and Communications Engineering(ECE) at National Institute of Technology Kurushetra, Haryana ,India . I am passionate about softeware development,I see my future in the said field . I am interested in Web and Game Development. Feel free to contact me on- nikhilratta84@gmail.com</p>
      <div class="icons"><a href="https://www.instagram.com/niks_ratta/"><i class="fab fa-instagram"></i></a></div>
      <div class="icons"><a href="https://www.facebook.com/people/Nikhil-Ratta/10000623908680"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></div>
      <div class="icons"><a href="http://github.com/NikhilRattaNITKKR/"><i class="fab fa-github"></i></a></div>


    </div>
  {{>footer}}
  </body>
</html>
